/* @font-face {
  font-family: 'myHelvari';
  src: url('ufonts.com_helvari.ttf');
}

p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  font-style: normal;
  font-family: myHelvari;
} */

.homedetaildiv {
  max-width: 75%;
  margin: auto;
}

.mainPic {
  width: 100%;
}

.navigation {
  border: solid black 2px;
  height: 50px;
}

.header {
  border: solid black 2px;
  height: 50px;
}

.house-specs {
  border: solid black 2px;
  height: 50px;
}

.main-pic-request-info-div {
  display: flex;
}

.mini-popup-pic-container {
  border: solid black 2px;
  flex: 2;
}

.request-info-container {
  border: solid black 2px;
  flex: 1;
}

.mini-carousel-container {
  overflow: scroll;
  border: solid black 2px;
}

.mini-carousel-card-container {
  display: flex;
}

.detail-card img {
  width: 100%;
  height: 100px;
  border-radius: 8%;
}

.detail-card {
  width: 170px;
  border: solid black 1px;
  margin-right: 10px;
  border-radius: 5%;
}

.modal-header {
  border: solid #3b4144 1px;
  height: 50px;
  background-color: #3b4144;
}

.modal-nav {
  border: solid #cdd1d4 1px;
  height: 60px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.navigation-header {
  border: solid #cdd1d4 1px;
  height: 40px;
  width: 95%;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-item {
  border: solid #cdd1d4 1px;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #3b4144;
}
.close-button:hover {
  background-color: darkgray;
}